################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AudioSort/v14/.suo
/AudioSort/bin/Debug
/AudioSort/obj/Debug
