<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="txtFolder1" value="D:\working\audio\left" />
    <add key="txtFolder2" value="D:\working\audio\right" />
    <add key="port" value="9091" />
    <add key="user" value="" />
    <add key="password" value="password" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>